@import "mixins";

/*****Media*****/
@media screen and (max-width: 1200px), handheld and (max-width: 1200px) {
	#right-content-ecp {
		.programm-box {
			p.company {
				padding-left: 0 !important;
				line-height: 40px !important;
				background-image: none !important;
			}
			.cost-info {
				text-align: center;
				.btn {margin-top: 20px;} 
			}
			.cost {
			    float: none; 
			    width: 100%;
			}
		}
		.box-info {
			.row {margin-bottom: 0;}
			.unindent {
				.col {
					float: left;
					width: 47%;
					margin-right: 6%;
					&:last-child {
						margin-right: 0;
						margin-top: 0;
					}
				}
			}
			.col {
				float: none;
				width: 100%;
				margin-right: none;
				overflow: hidden;
				&:last-child {margin-top: 20px;}
				figure {
					width: 48%;
				}
			}
		}
	}
	.btn {float: none !important;}
	.form-box {
		h3.title {font-size: 28px;}
	}
	form.callback {margin-top: 0;}
}
	

@media screen and (max-width: 992px), handheld and (max-width: 992px) {
	#right-content-ecp {
		
	}
}

@media screen and (max-width: 767px), handheld and (max-width: 767px) {
	#right-content-ecp {
		nav {
			margin-top: 30px;
			margin-bottom: 20px;
			li {
				float: none;
				margin-right: 0;
				margin-bottom: 10px;
				text-align: center;
			}
		}
		.box-text {
		    margin-bottom: 30px;
		}
		.programm-box {
			padding: 10px !important;
			p.company {
				font-size: 26px !important;
			}
		}
		.scheme-item {
			float: none;
			width: 100%;
			text-align: center;
			.item:after {display: none;}
		}
		.delivery-item {
			float: none;
			width: 100%;
		}

	}
	form.callback {
		padding: 0 60px;
	}

	h2.title {
	    font-size: 32px;
	    line-height: 36px;
	}
}

@media screen and (max-width: 480px), handheld and (max-width: 480px) {

	section {padding-bottom: 10px !important;}

	#right-content-ecp {
		nav {margin-bottom: 0;}
		.programm-box {
			p.company {
				font-size: 26px;
			}
		}
		.box-info {
			margin-top: 10px;
			.unindent {
				.col {
					float: none; 
			    	width: 100%;
			    	margin-right: 0;
				}
			}
			.col {
			    float: none; 
			    width: 100%;
			    margin-right: 0;
			    margin-bottom: 10px;
			}
			figure {display: none;}
		}
		.article-info {
			margin-top: 0;
	    	padding: 10px 0 15px;
	    	img {display: none;}
	    	.text {padding-left: 0;}
		}
	}

	h2.title {
	    font-size: 28px;
	    line-height: 32px;
	}

	h3.title {
	    font-size: 24px;
	    line-height: 28px;
	}

	form.callback {
		padding: 0;
	}
	.form-box {
		h3.title {font-size: 20px;}
		.box-info {display: none;}
	}
}

@media screen and (max-width: 320px), handheld and (max-width: 320px) {
	h2.title {
	    font-size: 22px;
	    line-height: 30px;
	}

	h3.title {
	    font-size: 20px;
	    line-height: 24px;
	}
	.box-text {
		.body {width: 100% !important;}
	}
	form.callback div {display: none;}
	.form-box h3.title {display: none;}
}