@mixin f-face($title, $name) {
	font-family: '#{$title}';
	src: url(../fonts/#{$name}.eot);
	src: url(../fonts/#{$name}.eot);
	src: url(../fonts/#{$name}.eot?#iefix) format('embedded-opentype'),
		 url(../fonts/#{$name}.woff2) format('woff2'),
		 url(../fonts/#{$name}.woff) format('woff'),
		 url(../fonts/#{$name}.ttf) format('truetype'),
		 url(../fonts/#{$name}.svg#helveticaneuecyrbold) format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin bg($color, $img, $type, $x, $y, $repeat) {
	background: $color url(../images/EO_TZ-4_1/#{$img}.#{$type}) $x $y $repeat;
}

@mixin t-shadow($x, $y, $blur, $color) {
	-webkit-text-shadow: $x $y $blur $color;
	   -moz-text-shadow: $x $y $blur $color;
		-ms-text-shadow: $x $y $blur $color;
		 -o-text-shadow: $x $y $blur $color;
			text-shadow: $x $y $blur $color;
}

@mixin f($weight, $size, $lh, $font) {
	font: $weight $size/#{$lh} $font;
}

@mixin b-shadow($x, $y, $blur, $color) {
	-webkit-box-shadow: $x $y $blur $color;
	   -moz-box-shadow: $x $y $blur $color;
		-ms-box-shadow: $x $y $blur $color;
		 -o-box-shadow: $x $y $blur $color;
			box-shadow: $x $y $blur $color;
}

@mixin b-shadow-inset ($x, $y, $blur, $color) {
	-webkit-box-shadow: inset $x $y $blur $color;
	   -moz-box-shadow: inset $x $y $blur $color;
		-ms-box-shadow: inset $x $y $blur $color;
		 -o-box-shadow: inset $x $y $blur $color;
			box-shadow: inset $x $y $blur $color;
}

@mixin b-radius($r) {
	-webkit-border-radius: $r;
	   -moz-border-radius: $r;
		-ms-border-radius: $r;
		 -o-border-radius: $r;
			border-radius: $r;
}

@mixin b-radius-w($tl, $tr, $bl, $br) {
	-webkit-border-radius: $tl $tr $bl $br;
	   -moz-border-radius: $tl $tr $bl $br;
		-ms-border-radius: $tl $tr $bl $br;
		 -o-border-radius: $tl $tr $bl $br;
			border-radius: $tl $tr $bl $br;
}

@mixin triangle($dir, $w, $h, $bg) {
	width: 0;
	height: 0;
	border-style: solid;
	@if($dir == t) {
		border-width: 0 $w / 2 + px $h + px $w / 2 + px;
		border-color: transparent transparent $bg transparent;
	}
	@if($dir == r) {
		border-width: $h / 2 + px  0 $h / 2 + px $w + px;
		border-color: transparent transparent transparent $bg;
	}
	@if($dir == b) {
		border-width: $h + px $w / 2 + px  0 $w / 2 + px;
		border-color: $bg transparent transparent transparent;
	}
	@if($dir == l) {
		border-width: $h / 2 + px $w + px  $h / 2 + px 0;
		border-color: transparent $bg transparent transparent;
	}
	@if($dir == tl) {
		border-width: $h + px $w + px 0 0;
		border-color: $bg transparent transparent transparent;
	}
	@if($dir == tr) {
		border-width: 0 $w + px $h + px 0;
		border-color: transparent $bg transparent transparent;
	}
	@if($dir == br) {
		border-width: 0 0  $h + px $w + px;
		border-color: transparent transparent $bg transparent;
	}
	@if($dir == bl) {
		border-width: $h + px 0 0 $w + px;
		border-color: transparent transparent transparent $bg;
	}
}